$primary-color: #77c040;
$text-white: #ffffff;
$secondary-color: #333333;
.back-button {
  padding: 10px 20px;
  background-color: $text-white;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  color: $secondary-color;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
  &:hover {
    background-color: $secondary-color;
    // border-color: #999;
    color: $text-white;
  }
  .arrow-left {
    margin-left: 8px;
    font-size: 16px;
  }
}

#nueva-publicacion {
  display: inline-block;
  height: 35px;
  width: 200px;
  padding: 2px 8px;
  border: none;
  border-radius: 5px;
  background-color: $primary-color;
  color: $text-white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
}

#nueva-publicacion:hover {
  background-color: $secondary-color;
}
