$primary-color: #77c040;
$text-white: #ffffff;
$secondary-color: #333333;

.back-button {
  padding: 10px 20px;
  background-color: $text-white;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  color: $secondary-color;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
  &:hover {
    background-color: $secondary-color;
    // border-color: #999;
    color: $text-white;
  }
  .arrow-left {
    margin-left: 8px;
    font-size: 16px;
  }
}
