<form [formGroup]="userForm" class="row" (ngSubmit)="callSave()">
  <div>
    <h1>
      <span class="rural">Rural</span> <span class="animal"> Animal</span>
    </h1>
  </div>
  <div class="d-flex justify-content-end"></div>
  <div>
    <h2 class="mb-0">Crea un usuario</h2>
  </div>

  <!-- Nombre -->
  <div class="mb-2">
    <label class="mb-1" for="name">Nombre*</label>
    <input id="name" formControlName="name" type="text" class="form-control" />
    <div
      *ngIf="
        userForm.controls['name'].invalid &&
        (userForm.controls['name'].dirty || userForm.controls['name'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <!-- Primer apellido -->
  <div class="mb-2">
    <label class="mb-1" for="lastName1">Primer apellido*</label>
    <input
      id="lastName1"
      formControlName="lastName1"
      type="text"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls['lastName1'].invalid &&
        (userForm.controls['lastName1'].dirty ||
          userForm.controls['lastName1'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <!-- Segundo apellido -->
  <div class="mb-2">
    <label class="mb-1" for="lastName2">Segundo apellido</label>
    <input
      id="lastName2"
      formControlName="lastName2"
      type="text"
      class="form-control"
    />
  </div>

  <!-- Número de cédula -->
  <div class="mb-2">
    <label class="mb-1" for="identification">Número de cédula*</label>
    <input
      id="identification"
      formControlName="identification"
      type="text"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls['identification'].invalid &&
        (userForm.controls['identification'].dirty ||
          userForm.controls['identification'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <!-- Fecha de nacimiento -->
  <div class="mb-2">
    <label class="mb-1" for="birthDate">Fecha de nacimiento*</label>
    <input
      id="birthDate"
      formControlName="birthDate"
      type="date"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls['birthDate'].hasError('age') &&
        userForm.controls['birthDate'].touched
      "
    >
      <p class="text-danger my-1">Debe tener al menos 18 años.</p>
    </div>
    <div
      *ngIf="
        userForm.controls['birthDate'].hasError('required') &&
        userForm.controls['birthDate'].touched
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio.</p>
    </div>
  </div>

  <!-- Rol -->
  <div class="mb-2">
    <label class="mb-1" for="role">Rol*</label>
    <select id="role" formControlName="role" class="form-control">
      <option value="" disabled selected>--Selecciona tu rol--</option>
      <option value="BUYER">Comprador</option>
      <option value="SELLER">Vendedor</option>
      <option value="ADMIN">Administrador</option>
    </select>
    <div
      *ngIf="
        userForm.controls['role'].invalid &&
        (userForm.controls['role'].dirty || userForm.controls['role'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <!-- Certificado SENASA para vendedor -->
  <div class="mb-2" *ngIf="userForm.controls['role'].value === 'SELLER'">
    <label class="mb-1" for="vco">Certificado SENASA*</label>
    <input id="vco" formControlName="vco" type="text" class="form-control" />
    <div
      *ngIf="
        userForm.controls['vco'].invalid &&
        (userForm.controls['vco'].dirty || userForm.controls['vco'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <!-- Número de teléfono -->
  <div class="mb-2">
    <label class="mb-1" for="phoneNumber">Número de teléfono*</label>
    <input
      id="phoneNumber"
      formControlName="phoneNumber"
      type="text"
      class="form-control"
    />
    <div
      *ngIf="
        userForm.controls['phoneNumber'].invalid &&
        (userForm.controls['phoneNumber'].dirty ||
          userForm.controls['phoneNumber'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <app-address-form
    [addressForm]="addressForm"
    [provinces]="provinces"
    [cantons]="cantons"
    [districts]="districts"
    (provinceChange)="handleProvinceChange($event)"
    (cantonChange)="handleCantonChange($event)"
  />

  <!-- Correo electrónico -->
  <div class="mb-2">
    <label class="mb-1" for="email">Correo electrónico*</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      class="form-control"
      (change)="onEmailChange($event)"
    />
    <div
      *ngIf="userForm.controls['email'].errors?.['email'] && (userForm.controls['email'].dirty || userForm.controls['email'].touched)"
    >
      <p class="text-danger my-1">
        El correo ingresado no tiene un formato válido
      </p>
    </div>
    <div
      *ngIf="
        userForm.controls['email'].invalid &&
        (userForm.controls['email'].dirty || userForm.controls['email'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <!-- Contraseña -->
  <div class="mb-2 position-relative">
    <label class="mb-1" for="password">Contraseña*</label>
    <input
      id="password"
      formControlName="password"
      [type]="passwordVisible ? 'text' : 'password'"
      class="form-control"
    />
    <i
      class="fa fa-eye position-absolute"
      [ngClass]="{
        'fa-eye-slash': passwordVisible,
        'fa-eye': !passwordVisible
      }"
      style="cursor: pointer; top: 35px; right: 10px"
      (click)="togglePasswordVisibility()"
    ></i>
    <div
      *ngIf="
        userForm.controls['password'].invalid &&
        (userForm.controls['password'].dirty ||
          userForm.controls['password'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
  </div>

  <!-- Confirmar contraseña -->
  <div class="mb-2 position-relative">
    <label class="mb-1" for="confirmPassword">Confirmar contraseña*</label>
    <input
      id="confirmPassword"
      formControlName="confirmPassword"
      [type]="confirmPasswordVisible ? 'text' : 'password'"
      class="form-control"
    />
    <i
      class="fa fa-eye position-absolute"
      [ngClass]="{
        'fa-eye-slash': confirmPasswordVisible,
        'fa-eye': !confirmPasswordVisible
      }"
      style="cursor: pointer; top: 35px; right: 10px"
      (click)="toggleConfirmPasswordVisibility()"
    ></i>
    <div
      *ngIf="
        userForm.controls['confirmPassword'].invalid &&
        (userForm.controls['confirmPassword'].dirty ||
          userForm.controls['confirmPassword'].touched)
      "
    >
      <p class="text-danger my-1">Este campo es obligatorio</p>
    </div>
    <div
      *ngIf="
        userForm.controls['confirmPassword'].value !==
        userForm.controls['password'].value
      "
    >
      <p class="text-danger my-1">Las contraseñas no coinciden</p>
    </div>
  </div>

  <!-- Botón de registro -->
  <div class="d-flex justify-content-end">
    <button (click)="callSave()" class="registrar" type="button">
      Registrar
    </button>
    <button (click)="onCancel()" class="btn btn-secondary ms-2" type="button">
      Cancelar
    </button>
  </div>
</form>
