<div
  *ngIf="publication"
  style="display: flex; flex-direction: row; margin-top: 50px"
>
  <div>
    <div *ngIf="publication.photos?.length" class="carousel-container">
      <div class="carousel-wrapper">
        <div
          class="carousel"
          [style.transform]="'translateX(' + -currentIndex * 100 + '%)'"
        >
          <img
            *ngFor="let photo of publication.photos"
            [src]="photo.url"
            [alt]="publication.title"
            class="carousel-image"
          />
        </div>
      </div>
      <button class="carousel-button left" (click)="prev()">&#10094;</button>
      <button class="carousel-button right" (click)="next()">&#10095;</button>
    </div>
  </div>

  <div style="margin-left: 40px">
    <div>
      <p class="title">{{ publication.title }}</p>
      <p class="price">{{ publication.price }} CRC</p>
    </div>

    <div style="display: flex; flex-direction: column">
      <button class="comprar-button" (click)="onAddToCart()">
        {{ isInCart ? "Ir al carrito" : "Comprar" }}
      </button>
      <button class="model" (click)="openModelViewerModal()">
        Ver modelo 3D
      </button>
    </div>

    <div style="margin-top: 40px">
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">Certificado SENASA</div>
          <div class="table-cell" style="padding-left: 50px">
            : {{ publication.senasaCertificate }}
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">Género</div>
          <div class="table-cell" style="padding-left: 50px">
            : {{ publication.gender }}
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">Peso</div>
          <div class="table-cell" style="padding-left: 50px">
            : {{ publication.weight }} kg
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">Especie</div>
          <div class="table-cell" style="padding-left: 50px">
            : {{ publication.specie }}
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">Raza</div>
          <div class="table-cell" style="padding-left: 50px">
            : {{ publication.race }}
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">Provincia</div>
          <div class="table-cell" style="padding-left: 50px">
            : {{ publication.direction.province }}
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">Fecha de publicación</div>
          <div class="table-cell" style="padding-left: 50px">
            : {{ publication.creationDate | date : "dd/MM/yyyy" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModelViewer" class="modal" (click)="closeModelViewerModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <app-animal-stage-viewer [modelPath]="modelPath"></app-animal-stage-viewer>
    <button class="close-modal" (click)="closeModelViewerModal()">Close</button>
  </div>
</div>
